<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar-1">
				<span class="sr-only">Desplegar navegación</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-1">

			<ul class="nav navbar-nav">
				<li id="MenuInicio"><a id='logo' href="#/"> <img
						src="uploads/unpsjb_logo_small.png" />
				</a></li>
				<li id="Users"><a href="#/users">Users</a></li>
				<li id="Customers"><a href="#/customers">Customers</a></li>
				<li id="Shipments"><a href="#/shipmentProviders">ShipmentProviders</a></li>
				<li id="StatisticsCustomer"><a href="#/ranking/customers">Ranking Customer</a></li>
				<li id="StatisticsArticle"><a href="#/ranking/articles">Ranking Article</a></li>
			</ul>
		</div>
	</div>
</nav>
